PORT=3000

DB_HOST=endpoint-rds.amazonaws.com
DB_PORT=5432
DB_NAME=cruzazuldb
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_SECRET=clave_segura_para_token
APP_USER=admin
APP_PASSWORD=contraseña_segura
MFA_CODE=codigo_mfa_seguro
