PORT=3000

APP_USER=admin
APP_PASSWORD=CAMBIAR_PASSWORD

JWT_SECRET=CAMBIAR_JWT_SECRET
TOTP_SECRET=CAMBIAR_TOTP_SECRET

DB_HOST=IP_PRIVADA_EC2_BD
DB_PORT=5432
DB_NAME=cruzazuldb
DB_USER=postgres
DB_PASSWORD=CAMBIAR_PASSWORD_BD
